# Comprehensions

`List/set/dictionary` comprehension is a way to build a new `list/set/dictionary` by applying an expression to each item in an iterable such as a `string`, a `list`, a `dictionary`, a `file`, a `range` etc.

Advantages:

* concise
* run substantially faster than for loop

## List Comprehension

### Make a list of cube numbers from 0 to 4.

In [22]:
# make an empty list and append one at a time
numbers = [] 

numbers.append(0**3)
numbers.append(1**3)
numbers.append(2**3)
numbers.append(3**3)
numbers.append(4**3)

print(numbers)

[0, 1, 8, 27, 64]

In [23]:
# make an empty list and append items using for loop
numbers = [] 

for num in range(0, 5):
    numbers.append(num**3)
    
print(numbers)

[0, 1, 8, 27, 64]

In [24]:
# use list comprehension

# syntax: [ expression for var in iterable   ]
numbers = [ num**3     for num in range(0, 5)]

print(numbers)

[0, 1, 8, 27, 64]

### Create a new list from a list of tuples

In [56]:
# a list of name and age pair
ages = [('diLmurat', 44), ('Bilal', 25), ('Nijat', 30)]


[':'.join((item[0].title(), str(item[1]))) for item in ages]

['Dilmurat:44', 'Bilal:25', 'Nijat:30']

In [57]:
# a list of name and age pair
ages = [('diLmurat', 44), ('Bilal', 25), ('Nijat', 30)]

[':'.join((name.title(), str(age))) for name, age in ages]

['Dilmurat:44', 'Bilal:25', 'Nijat:30']

### Create a new list from a dictionary

Use list comprehension to process dictioary keys, values and items (key:value).

In [61]:
# a dictionary of name and age pair
ages = [('diLmurat', 44), ('Bilal', 25), ('Nijat', 30)]

[':'.join((name.title(), str(age))) for name, age in ages]

['Dilmurat:44', 'Bilal:25', 'Nijat:30']

### Use if condition in list comprehension

In [65]:
# filter to excludue odd numbers

[num for num in range(0, 11) if num%2 == 0]

[0, 2, 4, 6, 8, 10]

In [66]:
# filter to excludue even numbers

[num for num in range(0, 11) if num%2 != 0]

[1, 3, 5, 7, 9]

In [80]:
# create a list of numbers: cube of odd and square of even

square_cube = [num**2 if num%2 == 0 else num**3 for num in range(0, 11)]

print(even_odd)

{0, 1, 64, 4, 36, 100, 16, 343, 729, 27, 125}

## Set comprehesion

In [81]:
square_cube = {num**2 if num%2 == 0 else num**3 for num in range(0, 11)}
print(square_cube)

{0, 1, 64, 4, 36, 100, 16, 343, 729, 27, 125}

## Dictionary comprehension

In [82]:
square_cube = {num:num**2 if num%2 == 0 else num**3 for num in range(0, 11)}
print(square_cube)

{0: 0, 1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}